<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/login.css">
	<title>Log in</title>
</head>
<body>
	<div class="page-logotext">SchoolChat24</div>
	<div class="wrapper">
		<div class="form">
			<div  class="form-title">Вход</div>
			<input type="email" class="e-mail inline" placeholder="E-mail"><br>
			<input type="password" class="psw inline" placeholder="Пароль"><br>
			<div class="btn accept btn-center">Вoйти</div><br>
			<hr>
			<div class="nav-links inline">
				<div class="nav-link">
					<a href="forgot-password" class="small">Забыли пароль?</a>
				</div>
				<div class="nav-link">
					<a href="register" class="small">Регистрация</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>