<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/main.css">
	<title>Главная</title>
</head>
<body>
	<div class="header">
		<div class="header-logo">SchoolChat24</div>
		<div class="nav-wrapper">
			<div class="nav-linc">
				<!-- the page /activity is under developing

					<a href="activity" disabled class="disabled">Activity</a>

				-->
				<div class="disabled" title="is under development">Activity</div>
			</div>
			<div class="nav-linc">
				<div class="disabled">|</div>
			</div>
			<div class="nav-linc">
				<a href="register">Register</a>
			</div>
			<div class="nav-linc">
				<a href="login">Login</a>
			</div>
		</div>
	</div>
	<div class="ellipse">
		<svg width="491" height="408" viewBox="0 0 491 408" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M491 233.514C491 329.88 407.36 408 304.184 408C201.008 408 0 283.177 0 186.811C0 90.4446 201.008 0 304.184 0C407.36 0 491 137.147 491 233.514Z" fill="#499E8F"/>
		</svg>
	</div>
	<div class="zagibulina-1">
		<svg width="151" height="381" viewBox="0 0 151 381" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M150.5 181C150.5 291.733 126.614 380.5 99.0001 380.5C71.3859 380.5 140 307.733 140 197C140 86.2669 -0.000145435 35.5 1.13311e-10 0C27.6142 0 150.5 70.2669 150.5 181Z" fill="#D9D9D9"/>
		</svg>
	</div>
	<div class="zagibulina-2">
		<svg width="165" height="480" viewBox="0 0 165 480" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M165 228.331C165 368.021 138.813 480 108.538 480C78.2636 480 153.488 388.205 153.488 248.515C153.488 108.826 -0.000159447 44.7832 1.24228e-10 0C30.2747 0 165 88.6416 165 228.331Z" fill="#D9D9D9"/>
		</svg>
	</div>
	<div class="zagibulina-3">
		<svg width="307" height="777" viewBox="0 0 307 777" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M307 369.611C307 595.734 258.276 777 201.947 777C145.618 777 285.581 628.406 285.581 402.284C285.581 176.161 -0.000296669 72.4928 2.3114e-10 0C56.3294 0 307 143.489 307 369.611Z" fill="#D9D9D9"/>
		</svg>
	</div>
</body>
</html>