<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/reg.css">
	<title>Register</title>
</head>
<body>
	<div class="page-logotext">SchoolChat24</div>
	<div class="wrapper">
		<div class="form">
			<div  class="form-title">Регистрация</div>
			<input type="text" class="name inline" placeholder="Имя"><br>
			<input type="email" class="e-mail inline" placeholder="E-mail"><br>
			<input type="password" class="psw inline" placeholder="Пароль"><br>
			<div class="btn accept inline">Создать аккаунт</div><br>
			<hr>
			<div class="nav-links inline">
				<div class="nav-link">
					<span class="small">Уже есть аккаунт? </span>
					<a href="login" class="small"> Войдите</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>